*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
background:linear-gradient(180deg,#080808,#14060b);
font-family:Arial,Helvetica,sans-serif;
color:white;
overflow:hidden;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero-content{
max-width:700px;
}
h1{
font-size:70px;
animation:heartbeat 1.5s infinite;
}

h2{
font-size:60px;
margin-top:20px;
color:#ff4d6d;
}

h3{
margin-top:15px;
font-size:30px;
font-weight:normal;
}

p{
margin-top:30px;
font-size:20px;
line-height:35px;
color:#d7d7d7;
}

button{
margin-top:45px;
padding:16px 40px;
font-size:20px;
background:#ff4d6d;
border:none;
border-radius:50px;
color:white;
cursor:pointer;
transition:.3s;

}

button:hover{
transform:scale(1.08);
background:#ff2b57;
box-shadow:0 0 25px #ff4d6d;
}

@keyframes heartbeat{

0%{

transform:scale(1);

}

50%{

transform:scale(1.2);

}

100%{

transform:scale(1);

}

}